---
import dogFlowersBw from "@assets/images/dog-flowers-bw.webp"
import dogFlowers from "@assets/images/dog-flowers.jpeg"
import hiddenBw from "@assets/images/hidden-bw.jpeg"
import hidden from "@assets/images/hidden.jpeg"
import lyingDownFlowersBw from "@assets/images/lying-down-flowers-bw.jpeg"
import lyingDownFlowers from "@assets/images/lying-down-flowers.jpeg"
import modelFlowersBw from "@assets/images/model-flowers-bw.jpg"
import modelFlowers from "@assets/images/model-flowers.jpg"
import skullFlowersBw from "@assets/images/skull-flowers-bw.jpg"
import skullFlowers from "@assets/images/skull-flowers.jpg"
import smokeGirlBw from "@assets/images/smoke-girl-bw.jpg"
import smokeGirl from "@assets/images/smoke-girl.jpg"
import womanSunBw from "@assets/images/sun-bw.jpg"
import womanSun from "@assets/images/sun.jpg"
import IllustrationWithColorRevealHoverEffect from "./IllustrationWithColorRevealHoverEffect.astro"

const illustrationsRowClass = "flex flex-col sm:flex-row gap-x-6 gap-y-11" // Añadida altura
---

<section class="hidden sm:block">
  <h1 class="font-roboto font-bold text-xl sm:text-4xl">Ilustraciones</h1>
  <div class="flex flex-col gap-11 mt-10 box-border">
    <div class={"sm:h-[570px] " + illustrationsRowClass}>
      <IllustrationWithColorRevealHoverEffect
        defaultImg={modelFlowersBw}
        hoverImg={modelFlowers}
        alt="Broken woman with flowers"
        class="block h-full min-w-0 max-w-full sm:flex-[0_0_30%]"
      />
      <IllustrationWithColorRevealHoverEffect
        defaultImg={skullFlowersBw}
        hoverImg={skullFlowers}
        alt="Woman with a painted face of Mexican skull and flowers covering her head"
        class="block h-full min-w-0 max-w-full sm:flex-[1_1_0%]"
      />
    </div>
    <div class={"sm:h-[500px] " + illustrationsRowClass}>
      <IllustrationWithColorRevealHoverEffect
        defaultImg={womanSunBw}
        hoverImg={womanSun}
        alt="Woman in the sun covering her face with a hat"
        class="block h-full min-w-0 max-w-full sm:flex-[1_0_0]"
      />
      <IllustrationWithColorRevealHoverEffect
        defaultImg={dogFlowersBw}
        hoverImg={dogFlowers}
        alt="Dog with flowers as a crown"
        class="block h-full min-w-0 max-w-full sm:flex-[1_0_0]"
      />
      <IllustrationWithColorRevealHoverEffect
        defaultImg={lyingDownFlowersBw}
        hoverImg={lyingDownFlowers}
        alt="Woman lying down with flowers in her face"
        class="block h-full min-w-0 max-w-full sm:flex-[1_0_0]"
      />
    </div>
    <div class={"sm:h-[700px] " + illustrationsRowClass}>
      <IllustrationWithColorRevealHoverEffect
        defaultImg={smokeGirlBw}
        hoverImg={smokeGirl}
        alt="Woman smoking"
        class="block h-full min-w-0 max-w-full sm:flex-[1_0_0]"
      />
      <IllustrationWithColorRevealHoverEffect
        defaultImg={hiddenBw}
        hoverImg={hidden}
        alt="Hidden woman with flowers"
        class="block h-full min-w-0 max-w-full sm:flex-[1_0_0]"
      />
    </div>
  </div>
</section>
