---
import daliaImage from "@assets/images/dalia-inicio.jpg"
import signatureImage from "@assets/images/signature.png"

const description =
  "Diseñadora de productos digitales con superpoder para contar historias épicas — aquellas que conectan. Detecto tus dolores de cabeza, los convierto en creatividad y diseño soluciones que cambian las reglas del juego. Porque el buen diseño no es sólo estético: transforma, emociona y hace tu día (y tu trabajo) más humano y chispeante."
---

<!-- Desktop version -->
<section class="hidden sm:grid h-full-without-menu content-end fhd:content-center">
  <div class="grid grid-cols-5 h-fit antialiased gap-y-12">
    <h1
      class="desktop col-span-3 self-end tracking-wider font-inter leading-20 md:leading-24 lg:leading-28 xl:leading-40 text-main-17"
    >
      Product Designer
    </h1>
    <img
      class="col-span-2 h-auto max-w-80 justify-self-end rounded-2xl self-end object-cover"
      src={daliaImage.src}
      alt="Dalia"
    />
    <img
      class="col-span-3 bg-transparent -mt-8 -ml-16 h-auto max-w-52 justify-self-center rotate-25"
      src={signatureImage.src}
      alt="Dalia's signature"
    />
    <p class="col-span-2 font-roboto text-pretty leading-10 text-main-0">{description}</p>
  </div>
</section>
<!-- Mobile version -->
<section class="block sm:hidden">
  <div class="flex gap-1">
    <div class="flex flex-col flex-1">
      <h1 class="font-inter flex-1 text-4xl sm:text-5xl leading-12 tracking-wider text-main-17">
        Product Designer
      </h1>
      <img
        class="h-auto w-2/5 rotate-30 self-center mt-2"
        src={signatureImage.src}
        alt="Dalia's signature"
      />
    </div>
    <img class="h-auto w-1/2 rounded-2xl object-cover" src={daliaImage.src} alt="Dalia" />
  </div>
  <p class="font-roboto text-pretty leading-7 text-sm mt-4 text-main-0">{description}</p>
</section>

<style>
  h1.desktop {
    display: inline-block;
    position: relative;
    font-size: clamp(6rem, 8vw + 2rem, 10rem);
    padding-bottom: 1rem;
    font-weight: 400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-main-17);
    transition:
      font-weight 0.5s,
      -webkit-text-stroke-width 0.5s;
  }

  h1.desktop::before {
    content: "Product Designer";
    position: absolute;
    left: 0;
    top: 0;
    background: url(../../assets/images/lying-down-flowers.jpeg) 0 0 / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 1s ease;
  }

  h1.desktop:hover {
    overflow: visible;
    font-weight: 900;
    -webkit-text-stroke-width: 3px;
  }

  h1.desktop:hover::before {
    opacity: 1;
  }
</style>
