---
import dogFlowers from "@assets/images/dog-flowers.jpeg"
import hidden from "@assets/images/hidden.jpeg"
import lyingDownFlowers from "@assets/images/lying-down-flowers.jpeg"
import modelFlowers from "@assets/images/model-flowers.jpg"
import skullFlowers from "@assets/images/skull-flowers.jpg"
import smokeGirl from "@assets/images/smoke-girl.jpg"
import womanSun from "@assets/images/sun.jpg"
---

<section class="block sm:hidden">
  <h1 class="font-bold text-xl sm:text-4xl">Ilustraciones</h1>
  <div class="flex flex-col gap-11 mt-10 box-border">
    <img
      src={modelFlowers.src}
      class="block h-auto w-full object-cover"
      alt="Broken woman with flowers"
    />
    <img
      src={skullFlowers.src}
      class="block h-auto w-full object-cover"
      alt="woman with a painted face of Mexican skull and flowers covering her head"
    />
    <img
      src={womanSun.src}
      class="block h-auto w-full"
      alt="Woman in the sun covering her face with a hat"
    />
    <img src={dogFlowers.src} class="block h-auto w-full" alt="Dog with flowers as a crown" />
    <img
      src={lyingDownFlowers.src}
      class="block h-auto w-full"
      alt="Woman lying down with flowers in her face"
    />
    <img src={smokeGirl.src} class="block h-auto w-full" alt="Woman smoking" />
    <img src={hidden.src} class="block h-auto w-full" alt="Hidden woman with flowers" />
  </div>
</section>
