---
const projects = [
  {
    title: "Cipher (Prosegur)",
    role: "Product Designer",
    year: "2023 - 2025",
    description:
      "Rediseño integral de la plataforma, diseñando el design system desde cero, definiendo arquitectura de información y flujos, implementando testeo con usuarios y optimizando la colaboración del equipo de diseño.",
  },
  {
    title: "FAS Federación Artesanal de Sevilla",
    role: "UX/UI Designer",
    year: "2023",
    description:
      "Rediseñé la web de la federación con una arquitectura de información clara y usabilidad refinada, y llevé sus redes sociales, conectando la artesanía sevillana con usuario y comunidad digital con creatividad y consistencia social.",
  },
  {
    title: "Talento Mobile - Carrefour",
    role: "UX/UI Designer",
    year: "2022 - 2023",
    description:
      "Apliqué la arquitectura de información a web, app y responsive, creación wireframes, prototipado de interacciones, y elaboración de un sistema de diseño cohesivo.",
  },
  {
    title: "Eunoia Digital - Banc Sabadell",
    role: "UX Designer",
    year: "2021 - 2022",
    description:
      "Rediseño integral de la plataforma, diseñando el design system desde cero, definiendo arquitectura de información y flujos, implementando testeo con usuarios y optimizando la colaboración del equipo de diseño.",
  },
  {
    title: "Freelance",
    role: "UX/UI Designer",
    year: "2021 - 2022",
    description:
      "Investigación profunda (benchmark, netnografía, encuestas, entrevistas, user persona…), metodologías ágiles (Design Thinking, Lean), testeo (Maze, Userzoom), y prototipado multiplataforma con sistemas de estilo UI.",
  },
]
---

<section class="mt-10 sm:mt-44">
  <div class="flex flex-col sm:flex-row gap-y-4 justify-between">
    <h1 class="sm:w-3/5 font-roboto sm:leading-14 text-xl sm:text-4xl font-bold text-main-0">
      Mi Viaje Creativo: Una Instantánea de Evolución y Aprendizaje
    </h1>
    <p
      class="sm:max-w-lg self-end font-roboto-condensed text-sm sm:text-base text-[#7E7E7E] leading-7"
    >
      Una selección de mis proyectos clave que reflejan mi evolución como diseñadora, mostrando como
      mis ideas maduraron a través de pruebas, iteraciones y enfoque centrado en el usuario
    </p>
  </div>
  <div class="flex flex-col gap-4 mt-10 w-full">
    {
      projects.map((project) => (
        <div class="p-8 bg-[#F9F9F9] flex w-full justify-between">
          <div>
            <h2 class="font-roboto font-bold text-base sm:text-2xl">
              <span class="text-main-17">{project.title}</span>
              <span class="text-[#222222]"> - {project.role}</span>
            </h2>
            <h3 class="block sm:hidden font-roboto font-bold text-sm text-[#7E7E7E]">
              {project.year}
            </h3>
            <p class="font-roboto mt-2 sm:mt-3 text-sm sm:max-w-4/5 sm:text-base sm:font-medium leading-6 text-main-17">
              {project.description}
            </p>
          </div>
          <h3 class="hidden sm:flex items-center w-fit text-nowrap font-roboto font-bold text-3xl text-[#7E7E7E]">
            {project.year}
          </h3>
        </div>
      ))
    }
  </div>
</section>
