---
import Icon from "@/components/Icon.astro"
import { CIPHER_PROJECT, CipherNavSections } from "@/constants"
import Project from "@/layouts/Project.astro"
import processImage from "@assets/images/process.jpg"

const SECTION_1_ICON = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_1)?.icon
const SECTION_2_ICON = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_2)?.icon
---

<Project
  title={CIPHER_PROJECT.title}
  titleIcon={CIPHER_PROJECT.titleIcon}
  rol={CIPHER_PROJECT.rol}
  duration={CIPHER_PROJECT.duration}
  typeOfProject={CIPHER_PROJECT.typeOfProject}
  tools={CIPHER_PROJECT.tools}
  navItems={CIPHER_PROJECT.navItems}
>
  <div>
    <section id={CipherNavSections.SECTION_1}>
      <h2>
        {SECTION_1_ICON && <Icon icon={SECTION_1_ICON} />}
        <span>El reto</span>
      </h2>
      <p>
        Cuando me uní al equipo de Cipher, la plataforma ya contaba con un gran potencial técnico,
        utilizada por organizaciones para la gestión de amenazas y orquestación de respuestas. Sin
        embargo, presentaba múltiples retos de diseño:
      </p>
      <ul>
        <li>Interfaz visualmente desactualizada.</li>
        <li>Estructura poco intuitiva para perfiles técnicos y no técnicos.</li>
        <li>Inconsistencias visuales y funcionales entre módulos.</li>
        <li>Ausencia de Design System.</li>
        <li>Falta de escalabilidad y flexibilidad (sin soporte para modo oscuro, por ejemplo).</li>
      </ul>
      <p>
        El objetivo fue liderar un rediseño integral de la plataforma, con un enfoque centrado en el
        usuario, el negocio y la escalabilidad del producto
      </p>
      <h3>
        <Icon icon="brain" />
        <span>Para alcanzar este objetivo, consideré los siguientes conceptos clave:</span>
      </h3>
      <ul>
        <li>
          <strong>Usabilidad para entornos complejos</strong>
          <br />
          Interfaces claras y funcionales para usuarios técnicos con necesidades avanzadas.
        </li>
        <li>
          <strong>Escalabilidad visual y de componentes</strong>
          <br />
          Diseño preparado para crecer con nuevas funcionalidades sin romper consistencia.
        </li>
        <li>
          <strong>Consistencia transversal</strong>
          <br />
          Desde la navegación hasta la interacción, el sistema debía comportarse de forma uniforme.
        </li>
        <li>
          <strong>Accesibilidad visual y confort de uso</strong>
          <br />
          Pensado también para profesionales que pasan horas frente a la herramienta (modo oscuro, densidad,
          contrastes, etc.).
        </li>
        <li>
          <strong>Diseño sistémico, no solo estético</strong>
          <br />
          Construcción de una lógica de diseño base aplicable a toda la plataforma.
        </li>
      </ul>
    </section>
    <section id={CipherNavSections.SECTION_2}>
      <h2>
        {SECTION_2_ICON && <Icon icon={SECTION_2_ICON} />}
        <span>El proceso</span>
      </h2>
      <p>
        Me gusta empezar cualquier reto con una buena cantidad de possits y mi cuaderno encima de la
        mesa, para empezar a apuntar todo lo que encuentre que me sirva de ayuda
      </p>
      <p>El proceso de rediseño se estructuró en <strong>7 fases estratégicas:</strong></p>
      <ul>
        <li>Auditoría UX y entrevistas internas.</li>
        <li>Investigación competitiva y de usuarios.</li>
        <li>Rediseño de arquitectura de la información.</li>
        <li>Wireframes, UI y testeo iterativo.</li>
        <li>Diseño del Design System desde cero.</li>
        <li>Desarrollo intencional del modo oscuro.</li>
        <li>Optimización del equipo y procesos de diseño.</li>
        <li>Conclusión y futuribles.</li>
      </ul>
      <img
        class="h-auto sm:max-h-[500px] w-full sm:w-3/5 object-cover"
        src={processImage.src}
        alt="Notebook with posit"
      />
    </section>
  </div>
</Project>
