---
import Icon from "@/components/Icon.astro"
import { CIPHER_PROJECT, CipherNavSections } from "@/constants"
import Project from "@/layouts/Project.astro"
import processImage from "@assets/images/process.jpg"

const SECTION_1 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_1)
const SECTION_2 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_2)
const SECTION_3 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_3)
const SECTION_4 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_4)
const SECTION_5 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_5)
const SECTION_6 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_6)
const SECTION_7 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_7)
const SECTION_8 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_8)
const SECTION_9 = CIPHER_PROJECT.navItems.get(CipherNavSections.SECTION_9)
---

<Project
  title={CIPHER_PROJECT.title}
  titleIcon={CIPHER_PROJECT.titleIcon}
  rol={CIPHER_PROJECT.rol}
  duration={CIPHER_PROJECT.duration}
  typeOfProject={CIPHER_PROJECT.typeOfProject}
  tools={CIPHER_PROJECT.tools}
  navItems={CIPHER_PROJECT.navItems}
>
  <div>
    <section id={CipherNavSections.SECTION_1}>
      <h2>
        {SECTION_1?.icon && <Icon icon={SECTION_1.icon} />}
        <span>{SECTION_1?.title}</span>
      </h2>
      <p>
        Cuando me uní al equipo de Cipher, la plataforma ya contaba con un gran potencial técnico,
        utilizada por organizaciones para la gestión de amenazas y orquestación de respuestas. Sin
        embargo, presentaba múltiples retos de diseño:
      </p>
      <ul>
        <li>Interfaz visualmente desactualizada.</li>
        <li>Estructura poco intuitiva para perfiles técnicos y no técnicos.</li>
        <li>Inconsistencias visuales y funcionales entre módulos.</li>
        <li>Ausencia de Design System.</li>
        <li>Falta de escalabilidad y flexibilidad (sin soporte para modo oscuro, por ejemplo).</li>
      </ul>
      <p>
        El objetivo fue liderar un rediseño integral de la plataforma, con un enfoque centrado en el
        usuario, el negocio y la escalabilidad del producto
      </p>
      <h3>
        <Icon icon="brain" />
        <span>Para alcanzar este objetivo, consideré los siguientes conceptos clave:</span>
      </h3>
      <ul>
        <li>
          <strong>Usabilidad para entornos complejos</strong>
          <br />
          Interfaces claras y funcionales para usuarios técnicos con necesidades avanzadas.
        </li>
        <li>
          <strong>Escalabilidad visual y de componentes</strong>
          <br />
          Diseño preparado para crecer con nuevas funcionalidades sin romper consistencia.
        </li>
        <li>
          <strong>Consistencia transversal</strong>
          <br />
          Desde la navegación hasta la interacción, el sistema debía comportarse de forma uniforme.
        </li>
        <li>
          <strong>Accesibilidad visual y confort de uso</strong>
          <br />
          Pensado también para profesionales que pasan horas frente a la herramienta (modo oscuro, densidad,
          contrastes, etc.).
        </li>
        <li>
          <strong>Diseño sistémico, no solo estético</strong>
          <br />
          Construcción de una lógica de diseño base aplicable a toda la plataforma.
        </li>
      </ul>
    </section>
    <section id={CipherNavSections.SECTION_2}>
      <h2>
        {SECTION_2?.icon && <Icon icon={SECTION_2.icon} />}
        <span>{SECTION_2?.title}</span>
      </h2>
      <p>
        Me gusta empezar cualquier reto con una buena cantidad de possits y mi cuaderno encima de la
        mesa, para empezar a apuntar todo lo que encuentre que me sirva de ayuda
      </p>
      <p>El proceso de rediseño se estructuró en <strong>7 fases estratégicas:</strong></p>
      <ul>
        <li>Auditoría UX y entrevistas internas.</li>
        <li>Investigación competitiva y de usuarios.</li>
        <li>Rediseño de arquitectura de la información.</li>
        <li>Wireframes, UI y testeo iterativo.</li>
        <li>Diseño del Design System desde cero.</li>
        <li>Desarrollo intencional del modo oscuro.</li>
        <li>Optimización del equipo y procesos de diseño.</li>
        <li>Conclusión y futuribles.</li>
      </ul>
      <img
        class="h-auto sm:max-h-[500px] w-full sm:w-3/5 object-cover"
        src={processImage.src}
        alt="Notebook with posit"
      />
    </section>
    <section id={CipherNavSections.SECTION_3}>
      <h2>
        {SECTION_3?.icon && <Icon icon={SECTION_3.icon} />}
        <span>{SECTION_3?.title}</span>
      </h2>
      CONTENT SECTION 3 HERE
    </section>
    <section id={CipherNavSections.SECTION_4}>
      <h2>
        {SECTION_4?.icon && <Icon icon={SECTION_4.icon} />}
        <span>{SECTION_4?.title}</span>
      </h2>
      CONTENT SECTION 4 HERE
    </section>
    <section id={CipherNavSections.SECTION_5}>
      <h2>
        {SECTION_5?.icon && <Icon icon={SECTION_5.icon} />}
        <span>{SECTION_5?.title}</span>
      </h2>
      CONTENT SECTION 5 HERE
    </section>
    <section id={CipherNavSections.SECTION_6}>
      <h2>
        {SECTION_6?.icon && <Icon icon={SECTION_6.icon} />}
        <span>{SECTION_6?.title}</span>
      </h2>
      CONTENT SECTION 6 HERE
    </section>
    <section id={CipherNavSections.SECTION_7}>
      <h2>
        {SECTION_7?.icon && <Icon icon={SECTION_7.icon} />}
        <span>{SECTION_7?.title}</span>
      </h2>
      CONTENT SECTION 7 HERE
    </section>
    <section id={CipherNavSections.SECTION_8}>
      <h2>
        {SECTION_8?.icon && <Icon icon={SECTION_8.icon} />}
        <span>{SECTION_8?.title}</span>
      </h2>
      CONTENT SECTION 8 HERE
    </section>
    <section id={CipherNavSections.SECTION_9}>
      <h2>
        {SECTION_9?.icon && <Icon icon={SECTION_9.icon} />}
        <span>{SECTION_9?.title}</span>
      </h2>
      CONTENT SECTION 9 HERE
    </section>
  </div>
</Project>
