---
import Icon from "@/components/Icon.astro"
import { FAS_PROJECT, FasNavSections } from "@/constants"
import Project from "@/layouts/Project.astro"
import fasContentImage1 from "@assets/images/fas-content-1.jpg"
import fasContentImage2 from "@assets/images/fas-content-2.png"
import fasContentImage3 from "@assets/images/fas-content-3.jpg"
import fasContentImage4 from "@assets/images/fas-content-4.jpg"
import fasContentImage5 from "@assets/images/fas-content-5.jpg"

const SECTION_1 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_1)
const SECTION_2 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_2)
const SECTION_3 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_3)
const SECTION_4 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_4)
const SECTION_5 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_5)
const SECTION_6 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_6)
const SECTION_7 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_7)
const SECTION_8 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_8)
const SECTION_9 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_9)
const SECTION_10 = FAS_PROJECT.navItems.get(FasNavSections.SECTION_10)
---

<Project
  title={FAS_PROJECT.title}
  rol={FAS_PROJECT.rol}
  duration={FAS_PROJECT.duration}
  typeOfProject={FAS_PROJECT.typeOfProject}
  tools={FAS_PROJECT.tools}
  navItems={FAS_PROJECT.navItems}
  link={FAS_PROJECT.link}
>
  <div>
    <section id={FasNavSections.SECTION_1}>
      <h2>
        {SECTION_1?.icon && <Icon icon={SECTION_1.icon} />}
        <span>{SECTION_1?.title}</span>
      </h2>
      <p>
        La Federación de Artesanos de Sevilla es una entidad con un fuerte arraigo cultural y gran
        valor social, pero su web anterior no reflejaba ni su identidad ni su propósito:
      </p>
      <ul>
        <li>La interfaz estaba visual y estructuralmente desactualizada.</li>
        <li>La arquitectura de la información era confusa y poco jerarquizada.</li>
        <li>No existía una línea gráfica coherente con su identidad artesanal.</li>
        <li>No había integración ni sinergia con sus redes sociales.</li>
        <li>
          La experiencia de usuario no facilitaba la exploración ni el contacto con los talleres.
        </li>
        <li>
          Mi reto fue rediseñar y desarrollar la web en WordPress, creando una experiencia digital
          clara, estética y funcional, que conectara la tradición artesanal sevillana con una
          comunidad digital más amplia.
        </li>
      </ul>
      <h3>
        <Icon icon="brain" />
        <span>Conceptos clave para alcanzar el objetivo:</span>
      </h3>
      <ul>
        <li>
          <strong>Accesibilidad y claridad informativa</strong>
          <br />
          Que cualquier persona (turista, cliente, artesano o institución) pudiera entender la oferta
          y navegar fácilmente.
        </li>
        <li>
          <strong>Valorización visual de la artesanía</strong>
          <br />
          Estética sobria y artesanal, donde las imágenes de los talleres fueran protagonistas.
        </li>
        <li>
          <strong>Diseño web estratégico y sostenible</strong>
          <br />
          Una estructura pensada para crecer, fácil de mantener por el equipo de la Federación.
        </li>
        <li>
          <strong>Conexión con redes sociales y comunidad</strong>
          <br />
          Diseño centrado en la visibilidad, la interacción y la promoción cruzada.
        </li>
      </ul>
    </section>
    <section id={FasNavSections.SECTION_2}>
      <h2>
        {SECTION_2?.icon && <Icon icon={SECTION_2.icon} />}
        <span>{SECTION_2?.title}</span>
      </h2>
      <ul>
        <li>Revisión del sitio existente y análisis de necesidades con el cliente.</li>
        <li>Benchmark de webs culturales/artesanales similares.</li>
        <li>Diseño de nueva arquitectura de información.</li>
        <li>Wireframes básicos para validar jerarquía y navegación.</li>
        <li>Diseño visual e implementación WordPress.</li>
        <li>Configuración de SEO básico, formularios y estructura móvil.</li>
        <li>Redacción y gestión de redes sociales alineadas a la nueva identidad.</li>
      </ul>
    </section>
    <section id={FasNavSections.SECTION_3}>
      <h2>
        {SECTION_3?.icon && <Icon icon={SECTION_3.icon} />}
        <span>{SECTION_3?.title}</span>
      </h2>
      <p>
        Antes de diseñar, analicé el contenido existente en la web anterior y recopilé referencias
        sobre:
      </p>
      <ul>
        <li>Las actividades, talleres y miembros de la Federación.</li>
        <li>
          Tipologías de usuarios: turistas culturales, compradores, artesanos locales,
          instituciones.
        </li>
        <li>Calidad y contenido fotográfico</li>
        <li>Limitaciones técnicas del proyecto (presupuesto, hosting, mantenibilidad).</li>
        <li>
          Expectativas del cliente (representar con orgullo la identidad sevillana artesanal).
        </li>
      </ul>
      <img src={fasContentImage1.src} class="w-full h-auto" alt="project images" />
    </section>
    <section id={FasNavSections.SECTION_4}>
      <h2>
        {SECTION_4?.icon && <Icon icon={SECTION_4.icon} />}
        <span>{SECTION_4?.title}</span>
      </h2>
      <p>
        Exploré otras webs del sector artesanal y cultural, tanto a nivel nacional como europeo,
        para identificar buenas prácticas y diferenciar a la Federación:
      </p>
      <ul>
        <li>
          <strong>Oficio y arte (www.oficioyarte.info): </strong>
          Muy informativa pero visualmente densa.
        </li>
        <li>
          <strong>Fundación Artesanía de Galicia:</strong>
          Excelente coherencia visual, buena conexión institucional.
        </li>
        <li>
          <strong>Maison des Métiers d’Art (Francia): </strong>
          Diseño limpio, centrado en obras y artesanos.
        </li>
        <li>
          <strong>Artesanía Catalunya: </strong>
          Ejemplo útil de categorización de talleres.
        </li>
      </ul>
      <p>Hallazgos clave:</p>
      <ul>
        <li>
          Muchas webs del sector pecaban de estar sobrecargadas visualmente o mal adaptadas a móvil.
        </li>
        <li>Pocas tenían conexión activa con redes sociales.</li>
        <li>Faltaba un equilibrio entre estética artesanal y usabilidad moderna.</li>
      </ul>
    </section>
    <section id={FasNavSections.SECTION_5}>
      <h2>
        {SECTION_5?.icon && <Icon icon={SECTION_5.icon} />}
        <span>{SECTION_5?.title}</span>
      </h2>
      <p>
        Reorganicé completamente la estructura para que fuera clara, jerárquica y centrada en el
        usuario:
      </p>
      <ul>
        <li>Inicio destacando valores e identidad visual.</li>
        <li>Sección de talleres con fichas individuales.</li>
        <li>Agenda de actividades y exposiciones.</li>
        <li>Información clara de contacto y asociación.</li>
        <li>Enlaces visibles a redes sociales.</li>
      </ul>
      <img src={fasContentImage2.src} class="w-full h-auto" alt="project images" />
    </section>
    <section id={FasNavSections.SECTION_6}>
      <h2>
        {SECTION_6?.icon && <Icon icon={SECTION_6.icon} />}
        <span>{SECTION_6?.title}</span>
      </h2>
      <p>Elaboré wireframes de baja fidelidad para organizar los bloques de contenido:</p>
      <ul>
        <li>Estructura en bloques verticales, fácil de escanear.</li>
        <li>Enlace directo a secciones clave desde la home.</li>
        <li>Navegación lateral simplificada en versión móvil.</li>
      </ul>
      <img src={fasContentImage3.src} class="w-full h-auto" alt="project images" />
    </section>
    <section id={FasNavSections.SECTION_7}>
      <h2>
        {SECTION_7?.icon && <Icon icon={SECTION_7.icon} />}
        <span>{SECTION_7?.title}</span>
      </h2>
      <p>
        Realicé el diseño visual completo con una paleta inspirada en la cerámica, el barro y los
        tonos naturales. El diseño se implementó íntegramente en WordPress, sin plugins innecesarios
        y optimizado para carga rápida.
      </p>
      <ul>
        <li>Diseño responsive y limpio.</li>
        <li>Integración con Instagram y redes sociales.</li>
        <li>Formularios de contacto y suscripción.</li>
        <li>Fichas visuales de talleres artesanos</li>
      </ul>
      <img src={fasContentImage4.src} class="w-full h-auto" alt="project images" />
    </section>
    <section id={FasNavSections.SECTION_8}>
      <h2>
        {SECTION_8?.icon && <Icon icon={SECTION_8.icon} />}
        <span>{SECTION_8?.title}</span>
      </h2>
      <p>
        Paralelamente al rediseño web, me encargué de crear y mantener las redes sociales oficiales:
      </p>
      <ul>
        <li>Desarrollo de contenido visual alineado con la identidad renovada.</li>
        <li>Calendario editorial para Instagram y Facebook.</li>
        <li>Cobertura de eventos, exposiciones y ferias.</li>
        <li>Difusión de los artesanos como protagonistas.</li>
      </ul>
      <p>
        <span class="float-start pt-1.5 pr-1"><Icon icon="target" /></span>
        <strong>Resultado:</strong>
        <span
          >incremento de seguidores, mayor interacción y mejor visibilidad para el colectivo.</span
        >
      </p>
      <img src={fasContentImage5.src} class="w-full h-auto" alt="project images" />
    </section>
    <section id={FasNavSections.SECTION_9}>
      <h2>
        {SECTION_9?.icon && <Icon icon={SECTION_9.icon} />}
        <span>{SECTION_9?.title.split(" ")[0]}</span>
      </h2>
      <ul>
        <li>
          Se logró una web clara, funcional y representativa del valor artesanal de la Federación.
        </li>
        <li>La navegación se volvió intuitiva y jerarquizada.</li>
        <li>El diseño móvil mejoró la accesibilidad general.</li>
        <li>
          Las redes sociales se transformaron en un canal clave para conectar con el público joven y
          con turistas.
        </li>
      </ul>
      <h2>
        <Icon icon="rocket-launch" />
        <span class="capitalize">{SECTION_9?.title.split(" ")[2]}</span>
      </h2>
      <ul>
        <li>Incorporar una tienda online para productos de los talleres.</li>
        <li>Implementar sección de noticias/entrevistas sobre artesanos.</li>
        <li>Traducir el sitio a otros idiomas para público internacional.</li>
        <li>Crear contenido en formato blog o video para atraer tráfico orgánico.</li>
      </ul>
    </section>
    <section id={FasNavSections.SECTION_10}>
      <h2>
        {SECTION_10?.icon && <Icon icon={SECTION_10.icon} />}
        <span>{SECTION_10?.title}</span>
      </h2>
      <p>
        Este proyecto fue una gran oportunidad para aplicar diseño UX en un entorno cultural, donde
        el valor no solo reside en la funcionalidad, sino también en respetar la esencia del
        producto artesanal.
      </p>
      <p>
        <span class="float-start pt-1.5 pr-1"><Icon icon="sketch-logo" /></span>
        <span>
          Aprendí a equilibrar diseño visual con estructura informativa, pensando siempre en la
          sostenibilidad del sitio para el cliente (sin sobrecargar de plugins o complejidad
          innecesaria).
        </span>
      </p>
      <p>
        <span class="float-start pt-1.5 pr-1"><Icon icon="sketch-logo" /></span>
        <span
          >Gané experiencia en adaptar lenguaje y estética a públicos muy diversos, desde turistas
          hasta instituciones culturales.</span
        >
      </p>
      <p>
        <span class="float-start pt-1.5 pr-1"><Icon icon="hourglass-simple-medium" /></span>
        <span>También enfrenté desafíos importantes:</span>
      </p>
      <ul>
        <li>
          <strong>Limitaciones de contenido:</strong>
          Muchos talleres no contaban con imágenes de calidad o descripciones extensas. Esto me obligó
          a ser creativa y proactiva para construir valor visual con los recursos disponibles.
        </li>
        <li>
          <strong>Presupuesto ajustado: </strong>
          Tuve que optimizar herramientas, tiempos y funcionalidades sin perder calidad.
        </li>
        <li>
          <strong>Gestión integral:</strong>
          Desde diseño hasta implementación, pasando por redes, aprendí a moverme con autonomía, gestionar
          entregables y responder con flexibilidad ante imprevistos.
        </li>
      </ul>
      <p>
        <span class="float-start pt-1.5 pr-1"><Icon icon="lightbulb" /></span>
        <span>
          En resumen, este proyecto me ayudó a fortalecer mi enfoque integral como diseñadora
          digital, conectando lo visual, lo estratégico y lo funcional con propósito y sensibilidad
          cultural.
        </span>
      </p>
    </section>
  </div>
</Project>
