---
import Icon from "@/components/Icon.astro"
import { KINGSUGI_PROJECT, KingsugiNavSections } from "@/constants"
import Project from "@/layouts/Project.astro"

const SECTION_1 = KINGSUGI_PROJECT.navItems.get(KingsugiNavSections.SECTION_1)
const SECTION_2 = KINGSUGI_PROJECT.navItems.get(KingsugiNavSections.SECTION_2)
const SECTION_3 = KINGSUGI_PROJECT.navItems.get(KingsugiNavSections.SECTION_3)
const SECTION_4 = KINGSUGI_PROJECT.navItems.get(KingsugiNavSections.SECTION_4)
const SECTION_5 = KINGSUGI_PROJECT.navItems.get(KingsugiNavSections.SECTION_5)
const SECTION_6 = KINGSUGI_PROJECT.navItems.get(KingsugiNavSections.SECTION_6)
const SECTION_7 = KINGSUGI_PROJECT.navItems.get(KingsugiNavSections.SECTION_7)
---

<!-- Proyecto de Empatía Animal - Kingsugi -->
<Project
  title={KINGSUGI_PROJECT.title}
  rol={KINGSUGI_PROJECT.rol}
  duration={KINGSUGI_PROJECT.duration}
  typeOfProject={KINGSUGI_PROJECT.typeOfProject}
  tools={KINGSUGI_PROJECT.tools}
  navItems={KINGSUGI_PROJECT.navItems}
>
  <div>
    <section id={KingsugiNavSections.SECTION_1}>
      <h2>
        {SECTION_1?.icon && <Icon icon={SECTION_1.icon} />}
        <span>{SECTION_1?.title}</span>
      </h2>
    </section>
    <section id={KingsugiNavSections.SECTION_2}>
      <h2>
        {SECTION_2?.icon && <Icon icon={SECTION_2.icon} />}
        <span>{SECTION_2?.title}</span>
      </h2>
    </section>
    <section id={KingsugiNavSections.SECTION_3}>
      <h2>
        {SECTION_3?.icon && <Icon icon={SECTION_3.icon} />}
        <span>{SECTION_3?.title}</span>
      </h2>
    </section>
    <section id={KingsugiNavSections.SECTION_4}>
      <h2>
        {SECTION_4?.icon && <Icon icon={SECTION_4.icon} />}
        <span>{SECTION_4?.title}</span>
      </h2>
    </section>
    <section id={KingsugiNavSections.SECTION_5}>
      <h2>
        {SECTION_5?.icon && <Icon icon={SECTION_5.icon} />}
        <span>{SECTION_5?.title}</span>
      </h2>
    </section>
    <section id={KingsugiNavSections.SECTION_6}>
      <h2>
        {SECTION_6?.icon && <Icon icon={SECTION_6.icon} />}
        <span>{SECTION_6?.title}</span>
      </h2>
    </section>
    <section id={KingsugiNavSections.SECTION_7}>
      <h2>
        {SECTION_7?.icon && <Icon icon={SECTION_7.icon} />}
        <span>{SECTION_7?.title}</span>
      </h2>
    </section>
  </div>
</Project>
