---
import Icon from "@/components/Icon.astro"
import {
  REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT,
  RebuildingCitiesGenderPerspectiveNavSections,
} from "@/constants"
import Project from "@/layouts/Project.astro"
import macbaContentImage1 from "@assets/images/macba-content-1.png"
import macbaContentImage10 from "@assets/images/macba-content-10.png"
import macbaContentImage11 from "@assets/images/macba-content-11.png"
import macbaContentImage12 from "@assets/images/macba-content-12.png"
import macbaContentImage13 from "@assets/images/macba-content-13.png"
import macbaContentImage14 from "@assets/images/macba-content-14.png"
import macbaContentImage15 from "@assets/images/macba-content-15.png"
import macbaContentImage16 from "@assets/images/macba-content-16.png"
import macbaContentImage17 from "@assets/images/macba-content-17.png"
import macbaContentImage18 from "@assets/images/macba-content-18.png"
import macbaContentImage2 from "@assets/images/macba-content-2.png"
import macbaContentImage3 from "@assets/images/macba-content-3.png"
import macbaContentImage4 from "@assets/images/macba-content-4.png"
import macbaContentImage5 from "@assets/images/macba-content-5.png"
import macbaContentImage6 from "@assets/images/macba-content-6.png"
import macbaContentImage7 from "@assets/images/macba-content-7.png"
import macbaContentImage8 from "@assets/images/macba-content-8.png"
import macbaContentImage9 from "@assets/images/macba-content-9.png"

const SECTION_1 = REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.navItems.get(
  RebuildingCitiesGenderPerspectiveNavSections.SECTION_1
)
const SECTION_2 = REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.navItems.get(
  RebuildingCitiesGenderPerspectiveNavSections.SECTION_2
)
const SECTION_3 = REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.navItems.get(
  RebuildingCitiesGenderPerspectiveNavSections.SECTION_3
)
const SECTION_4 = REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.navItems.get(
  RebuildingCitiesGenderPerspectiveNavSections.SECTION_4
)
const SECTION_5 = REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.navItems.get(
  RebuildingCitiesGenderPerspectiveNavSections.SECTION_5
)
const SECTION_6 = REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.navItems.get(
  RebuildingCitiesGenderPerspectiveNavSections.SECTION_6
)
---

<Project
  title={REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.title}
  rol={REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.rol}
  duration={REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.duration}
  typeOfProject={REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.typeOfProject}
  tools={REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.tools}
  navItems={REBUILDING_CITIES_GENDER_PERSPECTIVE_PROJECT.navItems}
>
  <div>
    <section id={RebuildingCitiesGenderPerspectiveNavSections.SECTION_1}>
      <h2>
        {SECTION_1?.icon && <Icon icon={SECTION_1.icon} />}
        <span>{SECTION_1?.title}</span>
      </h2>
      <p>
        El briefing inicial planteaba una cuestión clave: ¿cómo rediseñar el entorno urbano desde
        una perspectiva de género e inclusión? La oportunidad era repensar un espacio urbano
        desigual, con la meta de convertirlo en un entorno más accesible, seguro e integrador para
        mujeres, minorías y colectivos vulnerables.
      </p>
      <p class="font-semibold">Conceptos clave para llegar al objetivo:</p>
      <ul>
        <li>
          <strong>Inclusión social</strong> → tener en cuenta las diferentes formas de habitar la ciudad.
        </li>
        <li><strong>Perspectiva de género</strong> → diseñar espacios seguros y equitativos.</li>
        <li><strong>Participación ciudadana</strong> → involucrar a vecinos y colectivos.</li>
        <li>
          <strong>Usabilidad urbana</strong> → fomentar el uso real y continuo de los espacios.
        </li>
        <li>
          <strong>Seguridad percibida</strong> → iluminación, vigilancia natural y confianza social.
        </li>
        <li>
          <strong>Cohesión cultural</strong> → aprovechar la riqueza multicultural del barrio.
        </li>
      </ul>
      <img src={macbaContentImage1.src} class="w-full h-auto" alt="project images" />
    </section>
    <section id={RebuildingCitiesGenderPerspectiveNavSections.SECTION_2}>
      <h2>
        {SECTION_2?.icon && <Icon icon={SECTION_2.icon} />}
        <span>{SECTION_2?.title} - Metodología Design Thinking (doble diamante)</span>
      </h2>
      <img src={macbaContentImage2.src} class="w-full h-auto" alt="project images" />
      <h3>1. Descubrir - Investigación</h3>
      <ul>
        <li>
          <strong>Desk Research → </strong>
          análisis de estudios previos, estadísticas urbanas y género.
          <ul>
            <li>
              <strong>Hallazgos:</strong>
              mujeres usan más las zonas verdes; siguen cargando con tareas familiares pese a trabajar;
              minorías tienen menos acceso a oportunidades; fuerte desigualdad en percepción de seguridad.
            </li>
          </ul>
        </li>
        <li>
          <strong>Research Questions</strong> (Usuario - Competencia - Producto):
          <ul>
            <li>¿Qué elementos hacen que una plaza sea segura para todos los géneros?</li>
            <li>¿Cómo usan mujeres y hombres los espacios urbanos?</li>
            <li>¿Qué referentes internacionales existen de diseño inclusivo?</li>
          </ul>
        </li>
      </ul>
      <img src={macbaContentImage3.src} class="w-full h-auto" alt="project images" />
      <ul>
        <li>
          <strong>Cuestionario cuantitativo → </strong>
          enviado a +200 personas, con +100 respuestas..
        </li>
      </ul>
      <img src={macbaContentImage4.src} class="w-full h-auto" alt="project images" />
      <p class="text-center italic">Primer boceto del cuestionario</p>
      <img src={macbaContentImage5.src} class="w-full h-auto" alt="project images" />
      <p class="text-center italic">Cuestionario final</p>
      <ul>
        <li>
          <strong>Insight clave → </strong>
          67,6% pedía más zonas verdes
        </li>
      </ul>
      <img src={macbaContentImage6.src} class="w-full h-auto" alt="project images" />
      <img src={macbaContentImage7.src} class="w-full h-auto" alt="project images" />
      <ul>
        <li>
          <strong>Entrevistas cualitativas: </strong>
          (6 en total):
          <ul>
            <ul>
              <li>Perfiles diversos (madre soltera, jóvenes, hombres, minorías).</li>
              <li>
                <strong>Contraste: algunas mujeres no percibían desigualdad →</strong>
                reveló normalización de las carencias.
              </li>
              <li>
                <strong>Verbatims potentes:</strong>
                “El acoso callejero me ha pasado a mí como a todas las mujeres”, “FALTA EDUCACIÓN”.
              </li>
            </ul>
          </ul>
        </li>
      </ul>
      <h3>2. Definir - Síntesis</h3>
      <ul>
        <li>
          <strong>Insights principales:</strong>
          <ul>
            <li>Las zonas verdes son clave para el bienestar urbano.</li>
            <li>
              La percepción de seguridad depende tanto del diseño físico como de la educación
              social.
            </li>
            <li>Necesidad de espacios de encuentro más allá de bares.</li>
          </ul>
        </li>
        <li>
          <strong>User Persona (Mireia):</strong>
          madre soltera de 3 niños, busca entornos seguros y verdes para conciliar.
        </li>
        <li>
          <strong>Mapa de empatía + Journey Map:</strong>
          identificación de pain points → falta de zonas verdes, inseguridad, poca socialización fuera
          de bares.
        </li>
        <img src={macbaContentImage8.src} class="w-full h-auto" alt="project images" />
        <img src={macbaContentImage9.src} class="w-full h-auto" alt="project images" />
        <p>
          Y nos introducimos ya en el segundo diamante,<strong> La fase de Ideación:</strong>
        </p>
        <img src={macbaContentImage10.src} class="w-full h-auto" alt="project images" />
      </ul>
      <h3>3. Idear - Soluciones</h3>
      <p>
        <strong>Inspiración en el modelo Woonerf (Holanda) →</strong> integrar vegetación, cultura y
        seguridad en un mismo entorno urbano.
      </p>
      <p><strong>📍Lugar elegido:</strong> Plaza MACBA (Raval, Barcelona)</p>
      <p>Motivos:</p>
      <ul>
        <li>Zona con inmigración, desigualdad e inseguridad.</li>
        <li>Punto cultural por los museos y el arte contemporáneo.</li>
        <li>Oportunidad de cohesión social y cultural.</li>
      </ul>
      <p>Idea central:</p>
      <p>
        Crear un espacio urbano común, donde apetezca estar, se fomente la convivencia y se
        garantice la seguridad.
      </p>
      <h3>4. Desarrollar - Prototipo de la Plaza</h3>
      <p>Se definieron 3 zonas principales:</p>
      <ol>
        <li>
          <strong>Zona Jocs →</strong>
          deportes en equipo + integración con arte urbano.
        </li>
        <li>
          <strong>Zona Picnic →</strong>
          madre soltera de 3 niños, busca entornos seguros y verdes para conciliar.
        </li>
        <li>
          <strong>Zona Oasi →</strong>
          <ul>
            <li>Subzona Skatepark (respeto al colectivo local).</li>
            <li>Subzona descanso y socialización.</li>
          </ul>
          <div class="flex flex-col gap-6">
            <img src={macbaContentImage11.src} class="w-full h-auto" alt="project images" />
            <img src={macbaContentImage12.src} class="w-full h-auto" alt="project images" />
            <img src={macbaContentImage13.src} class="w-full h-auto" alt="project images" />
            <img src={macbaContentImage14.src} class="w-full h-auto" alt="project images" />
          </div>
        </li>
      </ol>
    </section>
    <section id={RebuildingCitiesGenderPerspectiveNavSections.SECTION_3}>
      <h2>
        {SECTION_3?.icon && <Icon icon={SECTION_3.icon} />}
        <span>{SECTION_3?.title}</span>
      </h2>
      <p>Además de la plaza física, se desarrolló una plataforma digital:</p>
      <ul>
        <li>
          <strong>Mapa de sitio→</strong> web con secciones principales:
        </li>
        <ul>
          <li>Comunidad → Plaza Jove, programa para jóvenes con actividades cívicas.</li>
          <li>Programación → talleres, conciertos, charlas y actividades gratuitas.</li>
          <li>Noticias del barrio.</li>
          <li>Contacto / participación vecinal.</li>
        </ul>
      </ul>
      <img src={macbaContentImage15.src} class="w-full h-auto" alt="project images" />
      <p>Descartar las partes más interesantes de la web:</p>
      <ul>
        <li>
          <strong>Comunidad:</strong>
          Creamos la parte de PLAZA JOVE, es un programa que da una oportunidad a los jóvenes del barrio
          centrada en el desarrollo de habilidades a través del compromiso cívico. Los jóvenes adquieren
          habilidades y experiencia y también establecen conexiones con otros adolescentes.
        </li>
        <li>
          <strong>Programación:</strong>
          En esta parte los usuarios pueden encontrar muchas actividades como talleres, conciertos, charlas,
          debates y muchas más cosas. Estas actividades son de forma presencial y gratuitas para que
          todos puedan participar sin quieren.
        </li>
      </ul>
      <img src={macbaContentImage16.src} class="w-full h-auto" alt="project images" />
    </section>
    <section id={RebuildingCitiesGenderPerspectiveNavSections.SECTION_4}>
      <h2>
        {SECTION_4?.icon && <Icon icon={SECTION_4.icon} />}
        <span>{SECTION_4?.title}</span>
      </h2>
      <ul>
        <li>
          <strong>Wireframes iniciales de la web →</strong> jerarquía clara, foco en comunidad y agenda
          cultural.
        </li>
        <li>
          <strong>Prototipo de alta fidelidad →</strong> reflejo visual de la plaza y su plataforma digital.
        </li>
        <li>
          <strong>Iteraciones con feedback de usuarios y vecinos</strong> refinamiento del flujo y contenidos.
        </li>
      </ul>
      <div class="flex flex-col gap-6">
        <img src={macbaContentImage17.src} class="w-full h-auto" alt="project images" />
        <img src={macbaContentImage18.src} class="w-full h-auto" alt="project images" />
        <div class="relative w-full aspect-video">
          <iframe
            src="https://player.vimeo.com/video/571609546?title=0&byline=0&portrait=0"
            class="absolute top-0 left-0 w-full h-full rounded-sm"
            style="border: none;"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </section>
    <section id={RebuildingCitiesGenderPerspectiveNavSections.SECTION_5}>
      <h2>
        {SECTION_5?.icon && <Icon icon={SECTION_5.icon} />}
        <span>{SECTION_5?.title}</span>
      </h2>
      <p>
        El Design Thinking permitió pasar de un reto abstracto a soluciones urbanas y digitales
        tangibles.
      </p>
      <p>
        <strong>Insight principal: </strong> los usuarios demandan zonas verdes + seguridad + cultura
        comunitaria.
      </p>
      <p>
        El contraste entre percepciones (mujeres que no veían desigualdad vs hombres que sí)
        demostró la importancia de la educación y la concienciación.
      </p>
      <p>
        <strong>Aprendizaje personal:</strong> gestionar contradicciones en la investigación, trabajar
        con comunidad y adaptar un enfoque de género a un diseño urbano real.
      </p>
    </section>
    <section id={RebuildingCitiesGenderPerspectiveNavSections.SECTION_6}>
      <h2>
        {SECTION_6?.icon && <Icon icon={SECTION_6.icon} />}
        <span>{SECTION_6?.title}</span>
      </h2>
      <ul>
        <li>
          Ampliar la comunidad digital con un espacio solo para vecinos → participación directa.
        </li>
        <li>Desarrollar app móvil + RRSS de la plaza.</li>
        <li>Potenciar transporte público hacia la plaza.</li>
        <li>Extender el modelo a otras plazas y barrios con problemas similares.</li>
      </ul>
    </section>
  </div>
</Project>
